<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/form %>
<h2><%= data.name %></h2>
<section class="detailSection">
  <img class="detailImg" alt="<%= data.name %>" src=<%=data.imageUrl%>></img>
  <ul>
    <li>Colors: <%= data.colors %></li>
    <li>Mana cost: <%= data.manaCost %></li>
    <li>Original text: <%= data.originalText %></li>
    <li>Original type: <%= data.originalType %></li>
    <li>Set name: <%= data.setName %></li>
    <li>Rarity: <%= data.rarity %></li>
    <li>Subtypes: <%= data.subtypes %></li>
  </ul>
</section>
<% include ../partials/foot %>
